.second-container {
    width: 1100px;
    height: 80vh;
    margin-top: 130px;
    margin-left: 70px;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.Edit-Signs {

    margin-left: 570px;
    margin-top: -472px;
}

.card-wrapper {
    
    margin-left: 59px;
  }
  
  .card {
    width: 500px;
    margin-top: -100px;
    height: 650px;
    margin-left: -60px;
    border-radius: 15px; /* Add border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }
  
  .card-body {
    padding: 20px; /* Add padding to the card body */
    background-color: white;
    height: 650px;

  }