.second-container-register {
    width: 1100px;
    height: 80vh;
    margin-top: 130px;
    margin-left: 70px;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}


.card-wrapper-register {
    
    margin-left: 59px;
  }
  
  .card-register{
    width: 600px;
    margin-top: -100px;
    height: 650px;
    margin-left: -60px;
    border-radius: 15px; /* Add border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }
  
  .card-body-register{
    padding: 20px; /* Add padding to the card body */
    height: 650px;
    
  }

  .Edit-Signs-register {
    margin-left: 500px;
    background-color: white;
    margin-top: -650px;
    width: 600px;
    border-radius: 15px; /* Add border radius for rounded corners */

  }

.Fname-fields {
    display: flex;
    gap: 10px; 
}

.Lname-fields {
    display: flex;
    gap: 10px; 
}

.password-fields {

    display: flex;
    gap: 10px; 
}