.Container-Reset {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    
}

.box {
    background-color: white;
    width: 600px;
    margin-top: -100px;
    height: 310px;
    margin-left: -60px;
    border-radius: 15px; /* Add border radius for rounded corners */
    box-shadow: 0 4px 300px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.items {
    margin-left: 190px;
}

.SendEmail {
    width: 300px;
}